body, html {
    background-color: black;
    background-image: url("/img/fondo.jpg");
    background-repeat: repeat, no-repeat;
    background-position: top;
    background-attachment: fixed;
    background-size: cover;
}

header {
    background-color: black;
    position: fixed;
    top: 0em;
    left: 0em;
    right: 0em;
    text-align: center;
    height: 7em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    border-radius: 20px;
    border: 3px red solid;
    text-shadow: 4px 5px 4px gray;
    z-index: 1;
}

body {
    background-color: transparent;
    position: relative;
    font-family: verdana;
    font-size: 1.2em;
}

aside {
    background-color: transparent;
    position: fixed;
    margin: 0.5em;
    top: 7em;
    bottom: 2em;
    left: 0em;
    margin-bottom: 0.7em;
    width: 20%;
    border-radius: 10px;
    border: 3px red solid;
    text-align: center;
    color: orangered;
    font-family:fantasy;
    font-size: 1em;
}



footer {
    background-color: black;
    position: fixed;
    bottom: 0em;
    left: 0em;
    right: 0em;
    margin-right: 0.3em;
    margin-left: 0.5em;
    margin-bottom: 0em;
    /*width: 100%;*/
    /*height: 100%;*/
    text-align: left;
    text-align: center;
    font-size: 0.6em;
  /*height: 5%;
  width: 85%;*/
  /*right: 0px;*/
}

.mainblock {
    position: absolute;
    top: 6em;
    left: 20%;
    margin-left: 2em;
    margin-top: 1em;
    
}

section {
    position: relative;
    right: 1em;
    margin-right: -0.9em;
    /*width: 70%;
    margin-left: 1em;
    /*border-color: orange;*/
    border-radius: 20px;
    border: 3px red solid;
    border-spacing: 3em;
    padding: 1em;
}


article {
    position: relative;
    border-color: orange;
    border-radius: 20px;    
}

nav {
    text-shadow: 4px 5px 4px gray;
    background-color: black;
    text-align: left;
    display: block;
}

.float {
    float: left;
    margin-top: 0.3em;
    margin-left: 0.7em;
}


h1 {
  color: red;
  text-align: center;
  font-size: 2em;
}

h2 {
  color: darkorange;
  text-align: center;
  font-size: 2em;
}

h3 {
    color: ghostwhite;
    text-align: center;
    font-size: 1.5em;
}

h1 + h3 {
    margin-top: -0.5em;
}

p {
  color: #C9CFD3;
    background-color: black;
}

/* unvisited link */
a:link {
    color: red;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: darkorange;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: whitesmoke;
    text-decoration: none;
}

/* selected link */
a:active {
    color: red;
    text-decoration: none;
}

li {
    list-style-type: none;
    margin: 0.5em;
}

#video, video{
    /*position: relative;*/
    margin-top: 1em auto;
    margin-bottom: 2em;
    margin-right: 2em;
    width: 50%;
    /*border: 2px solid red;*/
    /*outline-style: solid;
    outline-color: invert;*/
    /*width: 337px;
    height: 600px;*/
    /*float: left;*/
}
