/*body,html {
  height:100%;
  padding:0px;
  margin:0px
}*/

header {
  background-color: black;
  /*display: inline-block;*/
  width: 85%;
  height: 15%;
  float: top;
  position: fixed;
  top: 0px;
}

body {
  background-color: #2D3336;
  font-family: verdana;
  font-size: 20px;
  width: 85%;
  right: 0px;
  /*background-image:url("../img/a.jpg");
  background-color:black;
  background-repeat:no-repeat;
  position:fixed;*/
}

aside {
  background-color: blue;
  display:inline-block;
  width:15%;
  height:100%;
  float:left;
  position:fixed;
  left:0px;
}

footer {
  background-color:pink;
  font-color: black;
  text-align: center;
  height: 5%;
  width: 85%;
  /*position: fixed;*/
  bottom: 0px;
  right: 0px;
 
  /*z-index:-1;*/
}

h1 {
  color: #F1822B;
  text-align: center;
  font-size: 40px;
}

h2 {
  color: #EC3706;
  text-align: center;
  font-size: 32px;
}

h3 {
  color: #7B85C8;
  text-align: center;
  font-size: 28px;
}

p {
  color: #C9CFD3;
}

/*
p.hidden {
  display: none;
}
  
div:hover p.hidden {
    display: block;
}

a:link {
  color: #F1822B;
  font-size: 20px;
  text-decoration: none;
}

img {
  display: block;
  margin: auto;
*/

/*.c{background-color:transparent;display:inline-block;width:33.33%;height:75%;float:right;position:fixed;right:0px}*/
